*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgb(212, 150, 219);
}
#b{
    background-color:rgb(143, 6, 143); 
}
#author, #bname,#desc{
    background-color:rgb(243, 233, 243);
}

